<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Çiğdem Giyim</string>
	<key>CFBundleName</key>
	<string>Çiğdem Giyim</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Envanzo, barkodları ve QR kurulum kodlarını tarayabilmek için kameranıza erişim izni gerektirir.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Envanzo, mağaza içindeki yerel Envanzo sunucusuna bağlanmak için yerel ağ erişimi gerektirir.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Envanzo, yeni ürün kaydına ürün fotoğrafı ekleyebilmek için fotoğraf arşivinize erişim izni gerektirir.</string>
</dict>
</plist>
